<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Reporte de Utilidad de Ventas"
            icon="icons/sample.gif"
            category="com.bistro.sagg.reports"
            class="com.bistro.sagg.reports.ui.views.UtilitySalesReportView"
            id="com.bistro.sagg.reports.views.BistroReportsView">
      </view>
      <view
            class="com.bistro.sagg.reports.ui.views.InventoryPurchasesReportView"
            id="com.bistro.sagg.reports.views.StockReportView"
            name="Reporte de Compras de Inventario">
      </view>
      <view
            allowMultiple="false"
            category="com.bistro.sagg.category.views"
            class="com.bistro.sagg.reports.ui.views.ReportConfigurationView"
            id="com.bistro.sagg.reports.ui.views.ReportConfigurationView"
            name="Configuración de Reporte"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.bistro.sagg.category.views"
            class="com.bistro.sagg.reports.ui.views.SuppliesBySupplierListView"
            id="com.bistro.sagg.reports.ui.views.SuppliesBySupplierListView"
            name="Productos por Proveedor"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.bistro.sagg.category.views"
            class="com.bistro.sagg.reports.ui.views.SalesReportView"
            id="com.bistro.sagg.reports.ui.views.SalesReportView"
            name="Reporte de Ventas"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.bistro.sagg.category.views"
            class="com.bistro.sagg.reports.ui.views.DetailedSalesReportView"
            id="com.bistro.sagg.reports.ui.views.DetailedSalesReportView"
            name="Reporte de Ventas Detallado"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.bistro.sagg.category.views"
            class="com.bistro.sagg.reports.ui.views.PurchaseOrdersReportView"
            id="com.bistro.sagg.reports.ui.views.PurchaseOrdersReportView"
            name="Reporte de Ordenes de Compra"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.bistro.sagg.category.views"
            class="com.bistro.sagg.reports.ui.views.DetailedPurchaseOrdersReportView"
            id="com.bistro.sagg.reports.ui.views.DetailedPurchaseOrdersReportView"
            name="Reporte de Ordenes de Compra Detallado"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.bistro.sagg.reports.views.BistroReportsView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bistro.sagg.reports.ui.perspectives.ReportsPerspective"
            id="com.bistro.sagg.reports.ui.perspectives.ReportsPerspective"
            name="Reportes">
      </perspective>
   </extension>

</plugin>
