<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Employees Category"
            id="com.bistro.sagg.employees">
      </category>
      <view
            name="Empleados project"
            icon="icons/sample.gif"
            category="com.bistro.sagg.employees"
            class="com.bistro.sagg.employees.ui.views.EmployeeView"
            id="com.bistro.sagg.employees.ui.views.EmployeeView">
      </view>
   </extension>

</plugin>
