<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bistro.sagg.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Administration Perspective"
            class="com.bistro.sagg.ui.perspectives.AdministrationPerspective"
            id="com.bistro.sagg.ui.perspectives.AdministrationPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.bistro.sagg.category.employees"
            name="Employees">
      </category>
      <command
            categoryId="com.bistro.sagg.category.employees"
            id="com.bistro.sagg.ui.actions.OpenEmployeesViewAction"
            name="Open Employees">
      </command>
      <command
            categoryId="com.bistro.sagg.category.employees"
            id="com.bistro.sagg.ui.actions.OpenNewEmployeeDialogAction"
            name="New Employee">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="com.bistro.sagg.ui.main.menu">
         <menu
               label="Empleados Menu">
            <command
                  commandId="com.bistro.sagg.ui.actions.OpenEmployeesViewAction"
                  icon="icons/sample3.gif"
                  label="Empleados"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
